*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

body {
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1553411256-393ac26e7cc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: rgba(0, 0, 0, 0.865);
  border-radius: 2rem;
  min-height: 25rem;
  width: 90%;
  max-width: 45rem;
  margin-inline: auto;
  padding: 3rem;
}

main.loading {
  min-height: 0;
}

.search {
  justify-content: center;
  gap: 1rem;
}
.search input {
  width: 90%;
  background-color: #342e2e;
  padding: 0.75rem 1.35rem;
  color: #fff;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  font-size: 1.5rem;
}
.search button:hover i {
  background-color: #544d4d;
}
.search i {
  color: #fff;
  background-color: #342e2e;
  padding: 1.15rem;
  border-radius: 50%;
  font-size: 1.15rem;
  transition: 0.15s;
}

.data {
  color: #fff;
}
.data .loc {
  margin-top: 2.3rem;
  font-weight: 500;
}
.data .temp {
  font-size: 3.5rem;
  margin-top: 2rem;
  font-weight: 400;
}
.data .desc {
  gap: 1rem;
}
.data .desc img {
  width: 5rem;
}
.data .desc h2 {
  text-transform: capitalize;
  font-weight: 400;
}
.data .humidity,
.data .wind {
  font-weight: 400;
}